/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo básico */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #6a0dad; /* Cor roxa no fundo do cabeçalho */
    color: #fff;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Cor do texto no menu de navegação */
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #8a2be2; /* Cor roxa mais clara quando passa o mouse */
    border-radius: 5px;
}

/* Seções */
section {
    padding: 40px;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section h2 {
    margin-bottom: 20px;
    color: #6a0dad; /* Cor roxa no título */
}

/* Animação de transição */
section h1 {
    color: #6a0dad; /* Cor roxa no título principal */
    font-size: 36px;
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease-out forwards;
}

section p {
    color: #555;
    font-size: 18px;
    text-align: center;
}

/* Animação de fadeIn */
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #6a0dad; /* Cor roxa no fundo do rodapé */
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}